@{
    ViewData["Title"] = "Home Page";
}

<form class="mt-5">

    <label for="inputPassword5" class="form-label">Telefone</label>
    <input type="number" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Endereço de email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <br />

    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Selecione o seu nivel de filiação">

    <br>

    <label for="exampleFormControlInput1" class="form-label">Membro vitalicio</label>


    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Individual
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Familia
        </label>
    </div>
    <br>

    <label for="exampleFormControlInput1" class="form-label">Membro anual</label>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Individual
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Familia
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Aluna
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Educador
        </label>
    </div>




    <div class="text-right">  <button type="button" class="btn btn-primary btn-sm btn-dark  ">Enviar</button></div>

</form>


